<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>CinemaxPlus</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Autenticacion central: paginas privadas requieren sesion -->
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>modelo.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/usuarios.jsp</url-pattern>
        <url-pattern>/repertorio.jsp</url-pattern>
        <url-pattern>/favoritos.jsp</url-pattern>
        <url-pattern>/membresia.jsp</url-pattern>
        <url-pattern>/pago.jsp</url-pattern>
        <url-pattern>/reporte_cuenta.jsp</url-pattern>
        <url-pattern>/reporte_avance.jsp</url-pattern>
        <url-pattern>/reproductor.jsp</url-pattern>
    </filter-mapping>

</web-app>
